@font-face {
    font-family: "Caslon Regular";
    src: url(../../fonts/caslon.ttf);   
}
@font-face {
    font-family: "Playfair Regular";
    src: url(../../fonts/PlayfairDisplaySC-Regular.ttf);   
}
@font-face {
    font-family: "Trade Condensed";
    src: url(../../fonts/trade-condensed.ttf);   
}
@font-face {
    font-family: "Trade Regular";
    src: url(../../fonts/trade.ttf);   
}


