@font-face {
    font-family: "Caslon Regular";
    src: url(./fonts/caslon.otf);
}
@font-face {
    font-family: "Playfair Regular";
    src: url(./fonts/PlayfairDisplaySC-Regular.ttf);
}
@font-face {
    font-family: "Trade Bold";
    src: url(./fonts/trade-condensed.ttf);
}
@font-face {
    font-family: "Trade";
    src: url(./fonts/trade.ttf);
}
@font-face {
    font-family: "Trade Gothic LT";
    src: url(./fonts/TradeGothicLTStd-Cn18.otf);
}
